/* Global Styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f2f2f2;
  color: #0e1127;
  font-size: 16px;
  line-height: 1.5;
}

.heading-icon {
  display: flex;
  align-items: center;
}

.heading-icon h2 {
  margin-left: 10px;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: #f2f2f2;
}

li a:hover {
  color: #fe6002;
}

.btn {
  font-weight: bold;
  background-color: #fe6002;
  color: #f2f2f2;
  padding: 8px 16px;
  border: 2px solid transparent;
  border-radius: 5px;
}

.btn:hover {
  background-color: transparent;
  color: #fe6002;
  border: 2px solid #fe6002;
  transition: 0.5s;
}

.rounded {
  border-radius: 100px;
}

/* Header */
.header {
  height: 90px;
}

.header .container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#branding {
  display: flex;
  align-items: center;
}

#branding img {
  width: 75px;
}

#inquiries {
  display: flex;
  align-items: center;
}

#inquiries > div {
  margin-left: 100px;
}

#inquiries button {
  height: 45px;
}

/* Nav */
nav {
  background-color: #0e1127;
}

nav .container {
  width: 80%;
  height: 70px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar li {
  margin-right: 30px;
}

nav input {
  background-color: transparent;
  color: #bbb;
  width: 250px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #bbb;
  border-radius: 20px;
}

::placeholder {
  color: #bbb;
}

/* Hero */
.hero {
  min-height: 600px;
  background-image: url("images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 30%;
}

.hero .container {
  width: 80%;
  margin: auto;
  padding: 100px 0;
}

.hero h2,
.hero p {
  width: 30%;
  margin-bottom: 20px;
}

.hero h2 {
  font-size: 56px;
  line-height: 1.2;
}

.hero p {
  font-size: 20px;
}

.hero button {
  width: 150px;
  height: 50px;
}

/* Cards */
.cards {
  display: flex;
  color: #f2f2f2;
  text-align: center;
}

.card {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.cards .card:nth-child(odd) {
  background-color: #0e1127;
}

.cards .card:nth-child(even) {
  background-color: #fe6002;
}

.card .heading-icon {
  margin-bottom: 20px;
}

.card .heading-icon h2 {
  font-size: 26px;
}
